In [26]:
DROP DATABASE IF EXISTS EXECISE;

In [27]:
CREATE DATABASE EXECISE;

In [28]:
use EXECISE;

In [29]:
CREATE TABLE Person (
    PersonID INT PRIMARY KEY,
    pName VARCHAR(255)
);

In [30]:
CREATE TABLE Dealer (
    DealerID INT PRIMARY KEY,
    dName VARCHAR(255)
);

In [31]:
CREATE TABLE State_ (
    StateID INT PRIMARY KEY,
    sName VARCHAR(255)
);

In [32]:
CREATE TABLE Auto_ (
    AutoID INT PRIMARY KEY,
    aName VARCHAR(255),
    aModel VARCHAR(255),
    aYear VARCHAR(255),
    Own_PersonID INT,
    License_StateID INT,
    FOREIGN KEY (Own_PersonID) REFERENCES Person(PersonID)
)

In [33]:
CREATE TABLE ServiceBy (
    AutoID INT,
    DealerID INT,
    PRIMARY KEY (AutoID, DealerID),
    FOREIGN KEY (AutoID) REFERENCES Auto_(AutoID),
    FOREIGN KEY (DealerID) REFERENCES Dealer(DealerID)
);