In [1]:
use restauranttycoon

In [2]:
-- Q1: Customer spending category
SELECT
  c.customerID,
  c.customerName,
  SUM(m.price * od.quantity) AS total_spent,
  CASE
    WHEN SUM(m.price * od.quantity) >= 400 THEN 'VIP'
    WHEN SUM(m.price * od.quantity) >= 200 THEN 'Regular'
    WHEN SUM(m.price * od.quantity) >  0   THEN 'Occasional'
    ELSE 'No Orders'
  END AS spend_category
FROM Customer c
LEFT JOIN Orders o        ON o.customerID = c.customerID
LEFT JOIN OrderDetails od ON od.orderID   = o.orderID
LEFT JOIN Menu m          ON m.menuID     = od.menuID
GROUP BY c.customerID, c.customerName
ORDER BY total_spent DESC;

customerID,customerName,total_spent,spend_category
1,SomTamKaiYang,460.00,VIP
3,PingToHi,320.00,Regular
4,BengingDown,220.00,Regular
2,JanKaoMar,200.00,Regular
5,WetoLow,NULL,No Orders

In [3]:
-- Q2: Monthly revenue and days since last order
SELECT
  DATE_FORMAT(o.orderDate, '%Y-%m')                AS month,
  SUM(m.price * od.quantity)                       AS monthly_revenue,
  DATEDIFF(NOW(), MAX(o.orderDate))                AS days_since_last_order
FROM Orders o
JOIN OrderDetails od ON od.orderID = o.orderID
JOIN Menu m          ON m.menuID   = od.menuID
GROUP BY DATE_FORMAT(o.orderDate, '%Y-%m')
ORDER BY month;

month,monthly_revenue,days_since_last_order
2025-08,1200.00,34

In [4]:
-- Q3: Seasonal item performance
SELECT
  CASE
    WHEN MONTH(o.orderDate) IN (12, 1, 2)  THEN 'Winter'
    WHEN MONTH(o.orderDate) IN (3, 4, 5)   THEN 'Spring'
    WHEN MONTH(o.orderDate) IN (6, 7, 8)   THEN 'Summer'
    ELSE 'Fall'
  END AS season,
  m.itemName,
  SUM(od.quantity) AS qty_sold,
  SUM(m.price * od.quantity) AS revenue
FROM Orders o
JOIN OrderDetails od ON od.orderID = o.orderID
JOIN Menu m          ON m.menuID   = od.menuID
GROUP BY season, m.itemName
ORDER BY season, revenue DESC;

season,itemName,qty_sold,revenue
Summer,Pizza,2,400.00
Summer,Burger,3,360.00
Summer,Salad,2,180.00
Summer,Coke,3,120.00
Summer,Ice Cream,1,80.00
Summer,Fries,1,60.00