In [23]:
DROP DATABASE IF EXISTS  UnivInfo;

In [24]:
CREATE DATABASE UnivInfo;

In [25]:
use UnivInfo;

In [26]:
CREATE TABLE UnivInfo (
  Stud_ID VARCHAR(10),
  Stud_Name VARCHAR(100),
  Course VARCHAR(100),
  Prof_ID VARCHAR(10),
  Prof_Office VARCHAR(100)
);

In [27]:
INSERT INTO UnivInfo VALUES
('S01','Alice','DB','P10','Room201'),
('S02','Bob','DB','P10','Room201'),
('S01','Alice','Networks','P11','Room305'),
('S03','Alice','OS','P12','Room108');

In [28]:
SELECT * FROM UnivInfo;

Stud_ID,Stud_Name,Course,Prof_ID,Prof_Office
S01,Alice,DB,P10,Room201
S02,Bob,DB,P10,Room201
S01,Alice,Networks,P11,Room305
S03,Alice,OS,P12,Room108

**Decompose UnivInfo to 3NF**

Tables: Student, Professor, Enrollment

In [29]:
CREATE TABLE Student (
  Stud_ID VARCHAR(10) PRIMARY KEY,
  Stud_Name VARCHAR(100)
);

In [30]:
CREATE TABLE Professor (
  Prof_ID VARCHAR(10) PRIMARY KEY,
  Prof_Office VARCHAR(100)
);

In [31]:
CREATE TABLE Enrollment (
  Stud_ID VARCHAR(10),
  Course VARCHAR(100),
  Prof_ID VARCHAR(10),
  PRIMARY KEY (Stud_ID, Prof_ID, Course),
  FOREIGN KEY (Stud_ID) REFERENCES Student(Stud_ID),
  FOREIGN KEY (Prof_ID) REFERENCES Professor(Prof_ID)
);

In [32]:
-- Insert data
INSERT INTO Student VALUES
('S01','Alice'),
('S02','Bob'),
('S03','Alice');

INSERT INTO Professor VALUES
('P10','Room201'),
('P11','Room305'),
('P12','Room108');

INSERT INTO Enrollment VALUES
('S01','DB','P10'),
('S02','DB','P10'),
('S01','Networks','P11'),
('S03','OS','P12');

In [33]:
-- Check tables
SELECT * FROM Student;
SELECT * FROM Professor;
SELECT * FROM Enrollment;

Stud_ID,Stud_Name
S01,Alice
S02,Bob
S03,Alice

Prof_ID,Prof_Office
P10,Room201
P11,Room305
P12,Room108

Stud_ID,Course,Prof_ID
S01,DB,P10
S02,DB,P10
S01,Networks,P11
S03,OS,P12

With new Assumptions

A1: No student takes two different course from the same professer

A2: No course is taught by more than one professor

In [34]:
CREATE TABLE Course (
  Course VARCHAR(100) PRIMARY KEY,
  Prof_ID VARCHAR(10),
  FOREIGN KEY (Prof_ID) REFERENCES Professor(Prof_ID)
);

In [35]:
CREATE TABLE Enrollment_c (
  Stud_ID VARCHAR(10),
  Course VARCHAR(100),
  Prof_ID VARCHAR(10),
  PRIMARY KEY (Stud_ID, Course),
  UNIQUE (Stud_ID, Prof_ID),
  FOREIGN KEY (Stud_ID) REFERENCES Student(Stud_ID),
  FOREIGN KEY (Course) REFERENCES Course(Course),
  FOREIGN KEY (Prof_ID) REFERENCES Professor(Prof_ID)
);

In [36]:
-- Insert courses each taught by exactly one professor
INSERT INTO Course VALUES
('DB','P10'),
('Networks','P11'),
('OS','P12');

-- Insert enrollments valid under new assumptions
INSERT INTO Enrollment_c VALUES
('S01','DB','P10'),
('S02','Networks','P11'),
('S03','OS','P12');

In [37]:
SELECT * FROM Course;
SELECT * FROM Enrollment_c;

Course,Prof_ID
DB,P10
Networks,P11
OS,P12

Stud_ID,Course,Prof_ID
S01,DB,P10
S02,Networks,P11
S03,OS,P12