Intructions of SQL Practice in Class

1. Create Database
    
2. Use Database
    
3. Declare Tables CustomerDim, ProductDim, DateDim, ElectFact
    
4. Insert Data Intances

In [85]:
-- This one only in hw and in class work not in actual work
Drop DATABASE IF EXISTS AllElect_Star_6610545421;

In [86]:
create DATABASE AllElect_Star_6610545421;

In [87]:
use AllElect_Star_6610545421;

In [88]:
show DATABASEs;

Database
admission_6610545421
allelect_star_6610545421
ecommerce_shop
hotelmanagement
information_schema
mysql
performance_schema
restauranttycoon
sakila
sys
world

In [89]:
use AllElect_Star_6610545421;

In [90]:
CREATE TABLE CustomerDim
(
    CustomerKey INT NOT NULL,
    CustomerID INT NOT NULL,
    CustomerName VARCHAR(50) NOT NULL,
    CustomerAge INT NOT NULL,
    CustomerIncome DECIMAL(10,2) NOT NULL,
    CustomerCredit VARCHAR(50) NOT NULL,
    PRIMARY KEY (CustomerKey)
);

In [91]:
CREATE TABLE ProductDim
(
    ProductKey INT NOT NULL,
    ProductID INT NOT NULL,
    ProductName VARCHAR(50) NOT NULL,
    ProductCategory VARCHAR(50) NOT NULL,
    SupplierName VARCHAR(50) NOT NULL,
    ProductBrand VARCHAR(50) NOT NULL,
    ProductPrice DECIMAL(10,2) NOT NULL,
    ProductType VARCHAR(50) NOT NULL,
    ProductPlace_made VARCHAR(50) NOT NULL,
    PRIMARY KEY (ProductKey)
);

In [92]:
CREATE TABLE DateDim
(
    DateKey INT NOT NULL,
    Day INT NOT NULL,
    Month VARCHAR(50) NOT NULL,
    Year VARCHAR(4) NOT NULL,
    TheDate DATE NOT NULL,
    PRIMARY KEY (DateKey)
);

In [93]:
CREATE TABLE ElectFact
(
    ProductKey INT NOT NULL,
    CustomerKey INT NOT NULL,
    DateKey INT NOT NULL,
    unit_sold INT NOT NULL,
    total DECIMAL(10,2) NOT NULL,
    PRIMARY KEY (ProductKey, CustomerKey, DateKey),
    FOREIGN KEY (ProductKey) REFERENCES ProductDim(ProductKey),
    FOREIGN KEY (CustomerKey) REFERENCES CustomerDim(CustomerKey),
    FOREIGN KEY (DateKey) REFERENCES DateDim(DateKey)
);

Insert records in CustomerDim table

In [94]:
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (251, 1, 'Maria Anders', 22, 12000.00, 'A');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (252, 2, 'Ana Trujillo', 32, 32150.00, 'B');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (253, 3, 'Antonio Moreno', 41, 23200.00, 'C');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (254, 4, 'Thomas Hardy', 22, 215.00, 'C');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (255, 5, 'Christina Berglund', 32, 5365.00, 'A');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (256, 6, 'Hanna Moos', 45, 321542.00, 'C');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (257, 7, 'Frédérique Citeaux', 62, 22100.00, 'C');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (258, 8, 'Martín Sommer', 32, 215.00, 'A');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (259, 9, 'Laurence Lebihan', 50, 51220.00, 'D');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (260, 10, 'Elizabeth Lincoln', 43, 5121.00, 'B');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (261, 11, 'Victoria Ashworth', 81, 23210.00, 'A');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (262, 12, 'Patricio Simpson', 56, 2100.00, 'C');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (263, 13, 'Francisco Chang', 29, 2100.00, 'D');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (264, 14, 'Yang Wang', 55, 22200.00, 'A');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (265, 15, 'Pedro Afonso', 24, 22300.00, 'D');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (266, 16, 'Elizabeth Brown', 55, 21200.00, 'D');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (267, 17, 'Sven Ottlieb', 21, 1110.00, 'B');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (268, 18, 'Janine Labrune', 32, 2120.00, 'D');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (269, 19, 'Ann Devon', 45, 2130.00, 'C');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (270, 20, 'Roland Mendel', 65, 21000.00, 'B');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (271, 21, 'Aria Cruz', 78, 2100.00, 'A');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (272, 22, 'Diego Roel', 54, 4500.00, 'D');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (273, 23, 'Martine Rancé', 65, 23200.00, 'D');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (274, 24, 'Maria Larsson', 21, 2100.00, 'A');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (275, 25, 'Peter Franken', 32, 2000.00, 'C');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (276, 26, 'Carine Schmitt', 22, 4245.00, 'A');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (277, 27, 'Paolo Accorti', 44, 2100.00, 'D');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (278, 28, 'Lino Rodriguez', 56, 50000.00, 'B');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (279, 29, 'Eduardo Saavedra', 52, 5000.00, 'C');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (280, 30, 'José Pedro Freyre', 34, 12000.00, 'A');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (281, 31, 'André Fonseca', 74, 1200.00, 'D');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (282, 32, 'Howard Snyder', 58, 42000.00, 'D');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (283, 33, 'Manuel Pereira', 62, 1000.00, 'A');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (284, 34, 'Mario Pontes', 28, 34500.00, 'C');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (285, 35, 'Carlos Hernández', 35, 45000.00, 'B');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (286, 36, 'Yoshi Latimer', 36, 21000.00, 'D');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (287, 37, 'Patricia McKenna', 21, 78500.00, 'C');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (288, 38, 'Helen Bennett', 42, 10000.00, 'A');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (289, 39, 'Philip Cramer', 24, 50000.00, 'D');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (290, 40, 'Daniel Tonini', 56, 85670.00, 'B');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (291, 41, 'Annette Roulet', 32, 12000.00, 'D');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (292, 42, 'Yoshi Tannamuri', 25, 3000.00, 'C');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (293, 43, 'John Steel', 28, 40400.00, 'A');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (294, 44, 'Renate Messner', 84, 54500.00, 'D');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (295, 45, 'Jaime Yorres', 65, 24000.00, 'B');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (296, 46, 'Carlos González', 32, 12310.00, 'C');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (297, 47, 'Felipe Izquierdo', 54, 40000.00, 'A');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (298, 48, 'Fran Wilson', 65, 20000.00, 'B');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (299, 49, 'Giovanni Rovelli', 52, 15000.00, 'D');
INSERT INTO CustomerDim (CustomerKey, CustomerID, CustomerName, CustomerAge, CustomerIncome, CustomerCredit) VALUES (300, 50, 'Catherine Dewey', 80, 12000.00, 'A');

Insert records in DateDim table

In [95]:
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (76, 5, 'December', '2003', '2003-12-05');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (77, 6, 'December', '2003', '2003-12-06');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (78, 7, 'December', '2003', '2003-12-07');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (79, 8, 'December', '2003', '2003-12-08');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (80, 9, 'December', '2003', '2003-12-09');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (81, 3, 'January', '2004', '2004-01-03');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (82, 12, 'February', '2004', '2004-02-12');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (83, 16, 'February', '2004', '2004-02-16');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (84, 6, 'March', '2004', '2004-03-06');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (85, 17, 'March', '2004', '2004-03-17');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (86, 4, 'April', '2004', '2004-04-04');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (87, 25, 'April', '2004', '2004-04-25');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (88, 26, 'May', '2004', '2004-05-26');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (89, 30, 'May', '2004', '2004-05-30');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (90, 31, 'May', '2004', '2004-05-31');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (91, 7, 'June', '2004', '2004-06-07');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (92, 30, 'June', '2004', '2004-06-30');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (93, 2, 'July', '2004', '2004-07-02');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (94, 15, 'July', '2004', '2004-07-15');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (95, 9, 'September', '2004', '2004-09-09');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (96, 12, 'September', '2004', '2004-09-12');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (97, 13, 'September', '2004', '2004-09-13');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (98, 10, 'October', '2004', '2004-10-10');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (99, 16, 'October', '2004', '2004-10-16');
INSERT INTO DateDim (DateKey, Day, Month, Year, TheDate) VALUES (100, 20, 'October', '2004', '2004-10-20');

Insert records in ProductDim table

In [96]:
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (190, 1, 'Chai', 'Beverages', 'Exotic Liquids', 'PPP', 18.00, 'B', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (191, 2, 'Chang', 'Beverages', 'Exotic Liquids', 'NPP', 19.00, 'C', 'USA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (192, 3, 'Aniseed Syrup', 'Condiments', 'Exotic Liquids', 'XXX', 10.00, 'C', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (193, 4, 'Chef Anton\'s Cajun Seasoning', 'Condiments', 'New Orleans Cajun Delights', 'LLP', 22.00, 'A', 'BRA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (194, 5, 'Chef Anton\'s Gumbo Mix', 'Condiments', 'New Orleans Cajun Delights', 'RPO', 21.35, 'D', 'SPN');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (195, 6, 'Grandma\'s Boysenberry Spread', 'Condiments', 'Grandma Kelly\'s Homestead', 'PPN', 25.00, 'D', 'FRA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (196, 7, 'Northwoods Cranberry Sauce', 'Condiments', 'Grandma Kelly\'s Homestead', 'PPP', 40.00, 'B', 'GER');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (197, 8, 'Queso Cabrales', 'Dairy Products', 'Cooperativa de Quesos \'Las Cabras\'', 'NPP', 21.00, 'C', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (198, 9, 'Queso Manchego La Pastora', 'Dairy Products', 'Cooperativa de Quesos \'Las Cabras\'', 'XXX', 38.00, 'D', 'USA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (199, 10, 'Genen Shouyu', 'Condiments', 'Mayumi\'s', 'LLP', 15.50, 'A', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (200, 11, 'Pavlova', 'Confections', 'Pavlova, Ltd.', 'POR', 17.45, 'D', 'BRA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (201, 12, 'Teatime Chocolate Biscuits', 'Confections', 'Specialty Biscuits, Ltd.', 'PPN', 9.20, 'B', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (202, 13, 'Sir Rodney\'s Marmalade', 'Confections', 'Specialty Biscuits, Ltd.', 'NOP', 81.00, 'D', 'SPN');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (203, 14, 'Sir Rodney\'s Scones', 'Confections', 'Specialty Biscuits, Ltd.', 'WON', 10.00, 'B', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (204, 15, 'Guaraná Fantástica', 'Beverages', 'Refrescos Americanas LTDA', 'NOW', 4.50, 'C', 'USA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (205, 16, 'NuNuCa Nuß-Nougat-Creme', 'Confections', 'Heli Süßwaren GmbH & Co. KG', 'NMO', 14.00, 'A', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (206, 17, 'Gumbär Gummibärchen', 'Confections', 'Heli Süßwaren GmbH & Co. KG', 'NNO', 31.23, 'D', 'SPN');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (207, 18, 'Schoggi Schokolade', 'Confections', 'Heli Süßwaren GmbH & Co. KG', 'PPN', 43.90, 'C', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (208, 19, 'Gorgonzola Telino', 'Dairy Products', 'Formaggi Fortini s.r.l.', 'NOW', 12.50, 'D', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (209, 20, 'Mascarpone Fabioli', 'Dairy Products', 'Formaggi Fortini s.r.l.', 'NSA', 32.00, 'B', 'GER');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (210, 21, 'Geitost', 'Dairy Products', 'Norske Meierier', 'ASL', 2.50, 'A', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (211, 22, 'Sasquatch Ale', 'Beverages', 'Bigfoot Breweries', 'LDSA', 14.00, 'D', 'BRA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (212, 23, 'Steeleye Stout', 'Beverages', 'Bigfoot Breweries', 'SAD', 18.00, 'B', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (213, 24, 'Côte de Blaye', 'Beverages', 'Aux joyeux ecclésiastiques', 'GFDS', 263.50, 'C', 'USA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (214, 25, 'Chartreuse verte', 'Beverages', 'Aux joyeux ecclésiastiques', 'DSC', 18.00, 'B', 'SPN');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (215, 26, 'Ipoh Coffee', 'Beverages', 'Leka Trading', 'AW', 46.00, 'D', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (216, 27, 'Gula Malacca', 'Condiments', 'Leka Trading', 'CGH', 19.45, 'A', 'FRA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (217, 28, 'Zaanse koeken', 'Confections', 'Zaanse Snoepfabriek', 'GHHD', 9.50, 'D', 'GER');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (218, 29, 'Chocolade', 'Confections', 'Zaanse Snoepfabriek', 'SAW', 12.75, 'C', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (219, 30, 'Maxilaku', 'Confections', 'Karkki Oy', 'VXH', 20.00, 'B', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (220, 31, 'Valkoinen suklaa', 'Confections', 'Karkki Oy', 'SDF', 16.25, 'D', 'BRA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (221, 32, 'Raclette Courdavault', 'Dairy Products', 'Gai pâturage', 'YRT', 55.00, 'B', 'SPN');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (222, 33, 'Camembert Pierrot', 'Dairy Products', 'Gai pâturage', 'PPN', 34.00, 'D', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (223, 34, 'Sirop d\'érable', 'Condiments', 'Forêts d\'érables', 'NIP', 28.50, 'C', 'USA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (224, 35, 'Tarte au sucre', 'Confections', 'Forêts d\'érables', 'PIN', 49.30, 'A', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (225, 36, 'Vegie-spread', 'Condiments', 'Pavlova, Ltd.', 'PPN', 43.90, 'D', 'FRA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (226, 37, 'Louisiana Fiery Hot Pepper Sauce', 'Condiments', 'New Orleans Cajun Delights', 'NNP', 21.05, 'C', 'GER');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (227, 38, 'Louisiana Hot Spiced Okra', 'Condiments', 'New Orleans Cajun Delights', 'POR', 17.00, 'C', 'SPN');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (228, 39, 'Laughing Lumberjack Lager', 'Beverages', 'Bigfoot Breweries', 'XXX', 14.00, 'B', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (229, 40, 'Scottish Longbreads', 'Confections', 'Specialty Biscuits, Ltd.', 'NOP', 12.50, 'B', 'BRA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (230, 41, 'Gudbrandsdalsost', 'Dairy Products', 'Norske Meierier', 'WON', 36.00, 'A', 'FRA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (231, 42, 'Outback Lager', 'Beverages', 'Pavlova, Ltd.', 'LLP', 15.00, 'D', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (232, 43, 'Flotemysost', 'Dairy Products', 'Norske Meierier', 'RPO', 21.50, 'C', 'SPN');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (233, 44, 'Mozzarella di Giovanni', 'Dairy Products', 'Formaggi Fortini s.r.l.', 'NOW', 34.80, 'C', 'THA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (234, 45, 'Rhönbräu Klosterbier', 'Beverages', 'Plutzer Lebensmittelgroßmärkte AG', 'WON', 7.75, 'A', 'GER');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (235, 46, 'Lakkalikööri', 'Beverages', 'Karkki Oy', 'WA', 18.00, 'B', 'USA');
INSERT INTO ProductDim (ProductKey, ProductID, ProductName, ProductCategory, SupplierName, ProductBrand, ProductPrice, ProductType, ProductPlace_made) VALUES (236, 47, 'Original Frankfurter grüne Soße', 'Condiments', 'Plutzer Lebensmittelgroßmärkte AG', 'SFS', 13.00, 'D', 'THA');

In [97]:
select *
from DateDim

DateKey,Day,Month,Year,TheDate
76,5,December,2003,2003-12-05
77,6,December,2003,2003-12-06
78,7,December,2003,2003-12-07
79,8,December,2003,2003-12-08
80,9,December,2003,2003-12-09
81,3,January,2004,2004-01-03
82,12,February,2004,2004-02-12
83,16,February,2004,2004-02-16
84,6,March,2004,2004-03-06
85,17,March,2004,2004-03-17
86,4,April,2004,2004-04-04
87,25,April,2004,2004-04-25
88,26,May,2004,2004-05-26
89,30,May,2004,2004-05-30
90,31,May,2004,2004-05-31
91,7,June,2004,2004-06-07
92,30,June,2004,2004-06-30
93,2,July,2004,2004-07-02
94,15,July,2004,2004-07-15
95,9,September,2004,2004-09-09
96,12,September,2004,2004-09-12
97,13,September,2004,2004-09-13
98,10,October,2004,2004-10-10
99,16,October,2004,2004-10-16
100,20,October,2004,2004-10-20

Insert records in ElectFact Table

In [98]:
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (190, 251, 81, 2, 36.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (194, 251, 81, 2, 42.70);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (207, 251, 81, 3, 131.70);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (214, 251, 81, 6, 108.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (190, 252, 76, 2, 36.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (210, 252, 76, 5, 12.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (212, 252, 76, 2, 36.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (214, 252, 76, 1, 18.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (234, 252, 76, 1, 7.75);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (191, 255, 77, 1, 19.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (194, 255, 77, 2, 42.70);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (201, 255, 77, 4, 36.80);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (231, 255, 77, 3, 45.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (236, 255, 77, 1, 13.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (190, 255, 80, 2, 36.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (193, 255, 80, 1, 22.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (197, 255, 80, 2, 42.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (229, 255, 80, 2, 25.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (235, 255, 80, 1, 18.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (191, 258, 80, 5, 95.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (192, 258, 80, 1, 10.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (210, 258, 80, 1, 2.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (224, 258, 80, 1, 49.30);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (234, 258, 80, 7, 54.25);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (191, 260, 78, 5, 95.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (193, 260, 78, 4, 88.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (197, 260, 78, 4, 84.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (201, 260, 78, 4, 36.80);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (207, 260, 78, 1, 43.90);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (214, 260, 78, 2, 36.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (217, 260, 78, 4, 38.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (223, 260, 78, 4, 114.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (230, 260, 78, 1, 36.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (196, 262, 80, 2, 80.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (202, 262, 80, 1, 81.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (215, 262, 80, 4, 184.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (223, 262, 80, 1, 28.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (230, 262, 80, 2, 72.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (190, 264, 100, 2, 36.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (192, 264, 100, 12, 120.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (204, 264, 100, 2, 9.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (222, 264, 100, 1, 34.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (224, 264, 100, 25, 1232.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (229, 264, 100, 6, 75.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (231, 264, 100, 3, 45.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (233, 264, 100, 4, 139.20);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (205, 265, 89, 4, 56.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (212, 265, 89, 3, 54.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (215, 265, 89, 4, 184.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (221, 265, 89, 2, 110.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (225, 265, 89, 4, 175.60);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (191, 268, 85, 1, 19.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (213, 268, 85, 3, 790.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (221, 268, 85, 4, 220.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (231, 268, 85, 5, 75.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (196, 268, 90, 10, 400.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (206, 268, 90, 3, 93.69);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (216, 268, 90, 1, 19.45);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (217, 268, 90, 2, 19.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (226, 268, 90, 7, 147.35);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (236, 268, 90, 3, 39.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (205, 269, 84, 5, 70.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (209, 269, 84, 3, 96.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (213, 269, 84, 4, 1054.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (217, 269, 84, 3, 28.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (224, 269, 84, 4, 197.20);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (229, 269, 84, 6, 75.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (195, 269, 86, 4, 100.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (202, 269, 86, 2, 162.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (212, 269, 86, 5, 90.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (222, 269, 86, 3, 102.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (232, 269, 86, 5, 107.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (191, 270, 82, 3, 57.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (192, 270, 82, 1, 10.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (201, 270, 82, 4, 36.80);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (209, 270, 82, 5, 160.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (214, 270, 82, 5, 90.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (219, 270, 82, 1, 20.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (229, 270, 82, 2, 25.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (193, 270, 87, 1, 22.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (194, 270, 87, 5, 106.75);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (197, 270, 87, 2, 42.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (201, 270, 87, 2, 18.40);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (203, 270, 87, 3, 30.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (213, 270, 87, 2, 527.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (223, 270, 87, 8, 228.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (233, 270, 87, 2, 69.60);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (198, 271, 97, 3, 114.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (206, 271, 97, 3, 93.69);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (224, 271, 97, 2, 98.60);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (227, 271, 97, 3, 51.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (190, 272, 78, 3, 54.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (191, 272, 78, 3, 57.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (197, 272, 78, 3, 63.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (204, 272, 78, 1, 4.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (205, 272, 78, 2, 28.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (210, 272, 78, 5, 12.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (214, 272, 78, 3, 54.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (229, 272, 78, 1, 12.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (232, 272, 78, 2, 43.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (191, 273, 78, 2, 38.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (192, 273, 78, 5, 50.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (194, 273, 78, 5, 106.75);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (200, 273, 78, 1, 17.45);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (211, 273, 78, 2, 28.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (212, 273, 78, 5, 90.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (222, 273, 78, 1, 34.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (227, 273, 78, 4, 68.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (231, 273, 78, 1, 15.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (235, 273, 78, 2, 36.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (236, 273, 78, 2, 26.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (192, 275, 91, 3, 30.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (198, 275, 91, 10, 380.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (202, 275, 91, 12, 972.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (212, 275, 91, 10, 180.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (194, 276, 95, 1, 21.35);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (199, 276, 95, 2, 31.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (205, 276, 95, 3, 42.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (219, 276, 95, 3, 60.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (224, 276, 95, 3, 147.90);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (234, 276, 95, 3, 23.25);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (195, 277, 96, 4, 100.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (201, 277, 96, 4, 36.80);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (207, 277, 96, 2, 87.80);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (211, 277, 96, 2, 28.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (221, 277, 96, 2, 110.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (231, 277, 96, 3, 45.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (200, 278, 83, 3, 52.35);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (210, 278, 83, 2, 5.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (220, 278, 83, 3, 48.75);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (230, 278, 83, 5, 180.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (194, 279, 88, 1, 21.35);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (199, 279, 88, 3, 46.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (214, 279, 88, 4, 72.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (219, 279, 88, 10, 200.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (234, 279, 88, 3, 23.25);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (193, 280, 93, 2, 44.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (197, 280, 93, 2, 42.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (201, 280, 93, 3, 27.60);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (205, 280, 93, 3, 42.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (209, 280, 93, 5, 160.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (213, 280, 93, 3, 790.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (217, 280, 93, 6, 57.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (229, 280, 93, 5, 62.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (233, 280, 93, 2, 69.60);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (191, 282, 79, 4, 76.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (192, 282, 79, 4, 40.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (194, 282, 79, 1, 21.35);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (201, 282, 79, 2, 18.40);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (204, 282, 79, 1, 4.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (206, 282, 79, 2, 62.46);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (209, 282, 79, 2, 64.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (214, 282, 79, 4, 72.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (221, 282, 79, 1, 55.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (230, 282, 79, 3, 108.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (233, 282, 79, 2, 69.60);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (218, 283, 99, 2, 25.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (217, 293, 98, 10, 95.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (197, 295, 94, 2, 42.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (207, 295, 94, 6, 263.40);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (215, 295, 94, 3, 138.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (225, 295, 94, 2, 87.80);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (196, 298, 92, 1, 40.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (206, 298, 92, 3, 93.69);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (208, 298, 92, 3, 37.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (213, 298, 92, 2, 527.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (216, 298, 92, 3, 58.35);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (226, 298, 92, 2, 42.10);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (235, 298, 92, 1, 18.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (197, 300, 80, 2, 42.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (203, 300, 80, 2, 20.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (217, 300, 80, 1, 9.50);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (220, 300, 80, 4, 65.00);
INSERT INTO ElectFact (ProductKey, CustomerKey, DateKey, unit_sold, total) VALUES (231, 300, 80, 1, 15.00);

Show number of products of each category

In [99]:
select ProductCategory , count(ProductId) from ProductDim group by ProductCategory;

ProductCategory,count(ProductId)
Beverages,12
Condiments,12
Dairy Products,10
Confections,13

For each product category, display total sale (with number of products-sold)

In [100]:
select ProductCategory , sum(total) as total_sum , sum(unit_sold) as total_product from ProductDim natural JOIN ElectFact GROUP BY ProductCategory ORDER by total_sum;

ProductCategory,total_sum,total_product
Condiments,2694.60,122
Dairy Products,2960.50,103
Confections,5321.48,193
Beverages,6243.50,152

Show ALL customers (names and ages) and their total purchase (including those who havent bought anything)

In [107]:
select CustomerName , CustomerAge , sum(total) as totalSpent from CustomerDim c LEFT JOIN ElectFact e on c.CustomerKey = e.CustomerKey GROUP by CustomerAge , CustomerName ORDER by CustomerName , CustomerAge;

CustomerName,CustomerAge,totalSpent
Ana Trujillo,32,110.25
André Fonseca,74,NULL
Ann Devon,45,2082.20
Annette Roulet,32,NULL
Antonio Moreno,41,NULL
Aria Cruz,78,357.29
Carine Schmitt,22,325.50
Carlos González,32,NULL
Carlos Hernández,35,NULL
Catherine Dewey,80,151.50
Christina Berglund,32,299.50
Daniel Tonini,56,NULL
Diego Roel,54,328.50
Eduardo Saavedra,52,363.10
Elizabeth Brown,55,NULL
Elizabeth Lincoln,43,571.70
Felipe Izquierdo,54,NULL
Fran Wilson,65,816.64
Francisco Chang,29,NULL
Frédérique Citeaux,62,NULL
Giovanni Rovelli,52,NULL
Hanna Moos,45,NULL
Helen Bennett,42,NULL
Howard Snyder,58,591.31
Jaime Yorres,65,531.20
Janine Labrune,32,1822.99
John Steel,28,95.00
José Pedro Freyre,34,1295.20
Laurence Lebihan,50,NULL
Lino Rodriguez,56,286.10
Manuel Pereira,62,25.50
Maria Anders,22,318.40
Maria Larsson,21,NULL
Mario Pontes,28,NULL
Martín Sommer,32,211.05
Martine Rancé,65,509.20
Paolo Accorti,44,407.60
Patricia McKenna,21,NULL
Patricio Simpson,56,445.50
Pedro Afonso,24,579.60
Peter Franken,32,1562.00
Philip Cramer,24,NULL
Renate Messner,84,NULL
Roland Mendel,65,1442.55
Sven Ottlieb,21,NULL
Thomas Hardy,22,NULL
Victoria Ashworth,81,NULL
Yang Wang,55,1690.70
Yoshi Latimer,36,NULL
Yoshi Tannamuri,25,NULL

List customers with their most recent purchase date

In [114]:
SELECT CustomerName, CustomerIncome, CustomerCredit, MAX(TheDate) AS LastPurchasedDate FROM CustomerDim c LEFT JOIN (DateDim d LEFT JOIN ElectFact e ON d.DateKey = e.DateKey)  ON c.CustomerKey = e.CustomerKey GROUP BY CustomerName, CustomerIncome, CustomerCredit;

CustomerName,CustomerIncome,CustomerCredit,LastPurchasedDate
Maria Anders,12000.00,A,2004-01-03
Ana Trujillo,32150.00,B,2003-12-05
Antonio Moreno,23200.00,C,NULL
Thomas Hardy,215.00,C,NULL
Christina Berglund,5365.00,A,2003-12-09
Hanna Moos,321542.00,C,NULL
Frédérique Citeaux,22100.00,C,NULL
Martín Sommer,215.00,A,2003-12-09
Laurence Lebihan,51220.00,D,NULL
Elizabeth Lincoln,5121.00,B,2003-12-07
Victoria Ashworth,23210.00,A,NULL
Patricio Simpson,2100.00,C,2003-12-09
Francisco Chang,2100.00,D,NULL
Yang Wang,22200.00,A,2004-10-20
Pedro Afonso,22300.00,D,2004-05-30
Elizabeth Brown,21200.00,D,NULL
Sven Ottlieb,1110.00,B,NULL
Janine Labrune,2120.00,D,2004-05-31
Ann Devon,2130.00,C,2004-04-04
Roland Mendel,21000.00,B,2004-04-25
Aria Cruz,2100.00,A,2004-09-13
Diego Roel,4500.00,D,2003-12-07
Martine Rancé,23200.00,D,2003-12-07
Maria Larsson,2100.00,A,NULL
Peter Franken,2000.00,C,2004-06-07
Carine Schmitt,4245.00,A,2004-09-09
Paolo Accorti,2100.00,D,2004-09-12
Lino Rodriguez,50000.00,B,2004-02-16
Eduardo Saavedra,5000.00,C,2004-05-26
José Pedro Freyre,12000.00,A,2004-07-02
André Fonseca,1200.00,D,NULL
Howard Snyder,42000.00,D,2003-12-08
Manuel Pereira,1000.00,A,2004-10-16
Mario Pontes,34500.00,C,NULL
Carlos Hernández,45000.00,B,NULL
Yoshi Latimer,21000.00,D,NULL
Patricia McKenna,78500.00,C,NULL
Helen Bennett,10000.00,A,NULL
Philip Cramer,50000.00,D,NULL
Daniel Tonini,85670.00,B,NULL
Annette Roulet,12000.00,D,NULL
Yoshi Tannamuri,3000.00,C,NULL
John Steel,40400.00,A,2004-10-10
Renate Messner,54500.00,D,NULL
Jaime Yorres,24000.00,B,2004-07-15
Carlos González,12310.00,C,NULL
Felipe Izquierdo,40000.00,A,NULL
Fran Wilson,20000.00,B,2004-06-30
Giovanni Rovelli,15000.00,D,NULL
Catherine Dewey,12000.00,A,2003-12-09

get customer names with their age from customer who made purchase

In [117]:
SELECT DISTINCT CustomerName, CustomerAge FROM CustomerDim c INNER JOIN ElectFact e ON c.CustomerKey = e.CustomerKey;

CustomerName,CustomerAge
Maria Anders,22
Ana Trujillo,32
Christina Berglund,32
Martín Sommer,32
Elizabeth Lincoln,43
Patricio Simpson,56
Yang Wang,55
Pedro Afonso,24
Janine Labrune,32
Ann Devon,45
Roland Mendel,65
Aria Cruz,78
Diego Roel,54
Martine Rancé,65
Peter Franken,32
Carine Schmitt,22
Paolo Accorti,44
Lino Rodriguez,56
Eduardo Saavedra,52
José Pedro Freyre,34
Howard Snyder,58
Manuel Pereira,62
John Steel,28
Jaime Yorres,65
Fran Wilson,65
Catherine Dewey,80

Show porduct that have been sold

In [ ]:
select DISTINCT ProductName , ProductCategory , ProductPrice