In [3]:
use admission_6610545421

In [4]:
select Student.sID, sName, count(Apply.sID) as number_of_apps
from Student Left join Apply
on Student.sID = Apply.sID
group by Student.sID;

sID,sName,number_of_apps
123,Amy,4
234,Bob,1
345,Craig,4
456,Doris,0
543,Craig,1
567,Edward,0
654,Amy,0
678,Fay,1
765,Jay,3
789,Gary,0
876,Irene,3
987,Helen,2