In [189]:
DROP DATABASE IF EXISTS Car_parking_6610545421;

In [190]:
CREATE DATABASE Car_parking_6610545421;

In [191]:
use Car_parking_6610545421;

In [192]:
CREATE TABLE fineInfo (
    licenseNo VARCHAR(255),
    dateInfo DATE,
    CheckInTime TIME,
    CheckOutTime TIME,
    Fine INT
);

In [193]:
INSERT INTO fineInfo VALUES
('BRY 123','2021-01-25','10:00','11:45',40),
('AHO 129','2021-01-25','21:08','21.30',0),
('BRY 123','2021-01-11','10:00','11:45',0),
('AHO 129','2021-01-11','7:18','16.08',100);

In [194]:
CREATE TABLE customerInfo (
    customerID VARCHAR(255),
    LName VARCHAR(255),
    FName VARCHAR(255),
    phoneNo VARCHAR(255)
);

In [195]:
INSERT INTO customerInfo VALUES
('38249','Brown','Thomas','081-111-7804'),
('38249','Wayne','Thomas','081-111-7804'),
('38249','Wayne','Thomas','081-111-7804'),
('38249','Brown','Jomas','081-111-7804')
;

In [196]:
SELECT f.Fine
from fineInfo f;

Fine
40
0
0
100

In [197]:
-- avg revenue per customer
SELECT
    FName,
    AVG(f.Fine) as AVG
from customerInfo c , fineInfo f
GROUP BY C.FName

FName,AVG
Jomas,35.0000
Thomas,35.0000

In [198]:
-- Most Frequent customer
SELECT FName,
    count(customerID) as mostFrequent
from fineInfo , customerInfo
GROUP by FName

FName,mostFrequent
Thomas,12
Jomas,4